* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(135deg, #fee08b, #d53e4f);
}
.wrapper {
  width: 90%;
  max-width: 70em;
  max-height: 90vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex; 
  gap: 20px;
}
.container {
  position: relative;
  max-width: 35em;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}

#wheel {
  display: inline-block;
  width: 90%;
  height: 90%;
  max-height: inherit;
  top: 0;
  padding: 0;
  transform-origin: center;
}

:where(ul.wheel-of-fortune){
  --_items: 0;
  all: unset;
  aspect-ratio: 1 / 1;
  background: crimson;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  place-content: center start;
}

.wheel-of-fortune li {
  align-content: center;

  display: grid;
  font-size: 5cqi;
  grid-area: 1 / -1;
  list-style: none;
  padding-left: 1ch;
  transform-origin: center right;
  width: 50cqi;
  rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
  background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
  height: calc((2 * pi * 50cqi) / var(--_items));
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  clip-path: polygon(0% -2%, 100% 50%, 0% 102%);
}

.wheel-of-fortune {
  clip-path: inset(0 0 0 0 round 50%); 
  width: 100%;
  height: 100%;
  align-items: center;
}

#list-of-names{
  align-content: left;
  background-color: #fee08b;
  border-radius: 10px;
  padding: 10px;
  size: 10px;
}

ul#list-of-names li {
  font-weight: bold;
}

#addname {
  border-radius: 10px;
  background-color: #ffffbf;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

button{
  border-radius: 10px;
  background-color: #d53e4f;
  border: 1px solid #ccc;
  padding: 10px;
  color: white;
}

button:hover{
  font-weight:bold;
}